* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #e8e8e0;
}

img {
    max-width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #000;
}

.menu .logo{
    color: #e8e8e0;
    padding: 10px;
    margin-left: 40px;
}

.nav-list ul {
    display: flex;
    flex-wrap: wrap;
}

.nav-list a {
    padding: 10px;
    display: block;
    margin: 0 10px;
}

.nav-list li:nth-child(4) {
    margin-right: 30px;
}

.home {
    border: 1px solid red;
    background-image: url('../img/Home1.png') no-repeat;
    height: 100vh;
}