* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    color: #e8e8e0;
}

img {
    max-width: 100%;
}

.nav-list ul {
    list-style: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 2;
    position: fixed;
}

.menu .logo{
    color: #e8e8e0;
    padding: 10px;
    margin-left: 40px;
}

.nav-list ul {
    display: flex;
    flex-wrap: wrap;
}

.nav-list a {
    padding: 10px;
    display: block;
    margin: 0 10px;
}

.nav-list li:nth-child(4) {
    margin-right: 30px;
}

.home {
    background: url("../img/Home.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.btn {
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 1;
    margin-bottom: 50px;
    margin-right: 40px;
    background: #000;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sobre .conteudo-sobre {
    width: 300px;
    margin-right: 90px;
    text-align: center;
}

.conteudo-sobre h1 {
    font-size: 40px;
    margin-bottom: 90px;
}

.conteudo-sobre p{
    font-size: 20px;
}

.img-sobre img {
    z-index: 1;
    width: 323px;
    height: 516px;
    border: 10px solid #ffff;
}

.ambientes{
    width: 100%;
}

.ambientes h1 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.ambientes .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.ambientes .img-card {
    box-shadow: 0px 3px 6px #00000087;
    border-radius: 6px;
    width: 228px;
    height: 323px;
    text-align: center;
    margin-left: 40px;
}

.img-card img {
    padding: 40px;
}

.ambientes .img-card:nth-child(odd){
    background: #b0b5ac;
    /* margin-left: 0px; */
}

.ambientes .img-card:nth-child(even){
    background: #4d4d4d;
}

.conteudo-card1 h2 {
    color: #000;
}

.ambientes p {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.ambientes-itens {
    margin-top: 80px;
}

.ambientes-itens h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.img-bx img {
    text-align: center;
    width: 273px;
    height: 426px;
    margin: 20px 20px 15px 20px;
    border: 10px solid #ffff;
}

.ambientes-itens .img-bx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.contato {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 50%, #4d4d4d 50%), #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-top: 40px; */
    width: 100%;
}

.contato h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.contato label {
    display: block;
    line-height: 15px;
    margin-top: 20px;
}

.contato .formulario {
    color: #4d4d4d;
    font: bold 18px Poppins;
    width: 300px;
}

.contato .cor {
    color: #f2f2f2;
}

.formulario input {
    margin-top: 10px;
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
}

.formulario textarea {
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    color: #000;
    padding: 7px 10px;
    font-size: 14px;
}

.contato .bx-contato {
    margin: 0 auto;
}

.enviar {
    color: #000;
    background: #e8e8e0;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 10px;
}

.footer{
    background: #4d4d4d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    width: 100%;
}

.footer h1 {
    color: #e8e8e0;
    margin-bottom: 20px;
}

.menu-f ul {
    color: #e8e8e0;
}

.info-f p {
    color: #e8e8e0;
    margin-bottom: 20px;
}

.redes-sociais img{
    margin-left: 40px;
}

footer {
    background: #4d4d4d;
    text-align: center;
    color: #e8e8e0;
    padding: 60px 20px 20px 20px;
    width: 100%;
}

footer p {
    font-size: 12px;
}

hr {
    width: 600px;
    color: #e8e8e0;
    margin: 0 auto 5px auto;
}

.site-section {
    padding: 3em 0;
    margin: 20px 0;
    width: 100%;
}

@media (max-width: 769px) {
    .sobre {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudo-sobre h1 {
        margin-bottom: 20px;
    }

    .conteudo-sobre p {
        margin-bottom: 40px;
    }

    .sobre .conteudo-sobre {
        margin-right: 0;
        width: 500px;
    }

    .ambientes .img-card {
        margin-top: 40px;
    }

    .img-bx {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        justify-content: center;
    }

    .footer .info-f {
        margin: 0 40px;
    }

    .site-section {
        padding: 4em 0;
    }

    hr {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .sobre {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteudo-sobre h1 {
        margin-bottom: 20px;
    }

    .conteudo-sobre p {
        margin-bottom: 40px;
    }

    .sobre .conteudo-sobre {
        margin-right: 0;
        width: 500px;
    }

    .ambientes .img-card {
        margin-top: 40px;
    }

    .ambientes .img-card:nth-child(odd){
        background: #b0b5ac;
        margin-left: 0px;
    }


    .img-bx {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        justify-content: center;
    }

    .footer .info-f {
        margin: 0 40px;
    }

    .site-section {
        padding: 4em 0;
    }

    hr {
        width: 50%;
    }
}

@media (max-width: 535px) {
    .nav-list ul {
        align-items: center;
        justify-content: center;
    }

    .img-card{
        align-items: center;
        justify-content: center;
    }

    .sobre .conteudo-sobre {
        width: 100%;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }
    
    .ambientes .img-card:nth-child(even){
        margin-left: 0px;
    }

    .formulario {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-f {
        margin-bottom: 20px;
    }
}